@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
